@font-face {
  font-family: "Kollektif";
  src: url("../font/Kollektif.ttf") format("truetype");
}
@font-face {
  font-family: "Sacramento-Regular";
  src: url("../font/Sacramento-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../font/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../font/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../font/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Arial Rounded MT";
  src: url("../font/Arial_Rounded_MT.ttf") format("truetype");
}
.nav-link {
  color: #005a70 !important;
  font-size: 20;
  font-family: "Poppins-SemiBold", Arial, sans-serif;
}
.beta {
  font-size: 20;
  font-family: "Kollektif", "Times New Roman", sans-serif;
}

.mission-title {
  font-size: 10em;
  text-shadow: 0px 4px 5px rgba(207,207,207,0.72);
  letter-spacing: 5px;

  color:white;
  font-family: "Sacramento-Regular", "Times New Roman", sans-serif;
}
h3 {
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: 600;
  color:white;
  font-family: "Sacramento-Regular", "Times New Roman", sans-serif;
}
.number {
  font-size: 3em;
  font-weight: 900;
  letter-spacing: 4px;
  color:#005a70;
  position: absolute;
  bottom:0;
  right:0;
  font-family: "Sacramento-Regular", "Times New Roman", sans-serif;
}
.text-box {
  font-size: 25;
  color: #005a70;
  line-height: 2;
  font-family: "Poppins-Regular", "Times New Roman", sans-serif;
  border:solid white 10px !important;
  letter-spacing: 0.1em;
  margin-left: 3em;
  margin-right: 3em;
  position: relative;
}

.spool-text{
  font-size: 2em;
  color: #58d6d7;
  line-height: 2em;
  letter-spacing: 0.2em !important;
  font-family: "Poppins-Regular", "Times New Roman", sans-serif;

}
.spool-title{
  font-size: 4em;
  color: #58d6d7;
  line-height: 2em;
  letter-spacing: 0.2em !important;
  font-family: "Poppins-Regular", "Times New Roman", sans-serif;
}

.beta-header-right {
  font-size: 45px;
  letter-spacing: 4px;
  font-weight: 600;
  font-family: "Poppins-Regular", "Times New Roman", sans-serif;
}

.beta-header-left {
  font-size: 20px;
  letter-spacing: 4px;
  font-family: "Poppins-Regular", "Times New Roman", sans-serif;
}

.beta-header-left-2 {
  font-size: 20px;
  letter-spacing: 4px;
  font-family: "Poppins-Bold", "Times New Roman", sans-serif;
}

.thank-header {
  font-size: 150px;
  font-family: "Sacramento-Regular", "Times New Roman", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: white;
}

.text-sc {
  font-size: 25;
  color: #005a70;
  font-family: "Poppins-SemiBold", "Times New Roman", sans-serif;
}

.text-contact {
  font-size: 10;
  color: white;
  font-family: "Poppins-Regular", "Times New Roman", sans-serif;
  
}


div,p {font-size:18px;} 
 
@media (max-width: 544px) {  
  div,p {font-size:12px;} 
}
 
@media (min-width: 544px) and (max-width: 768px) {  
  div,p {font-size:14px;} 
}
 
@media (min-width: 768px) and (max-width: 950px) { 
  div,p {font-size:16px;} 
}
 
 
 
@media (min-width: 950px) and (max-width:1100px) { 
  div,p {font-size:18px;} 
}


 
@media (max-width: 544px) {  
  .text-sc {font-size:14px;} 
}
 
@media (min-width: 768px) {  
  .text-sc {font-size:18px;} 
}
 
@media (min-width: 992px) { 
  .text-sc  {font-size:25px;} 
}
 
@media (min-width: 1200px) {  
  .text-sc {font-size:25px;}     
}
 
 
@media (min-width: 950px) and (max-width:1100px) { 
  .text-sc {font-size:20px;} 
}



