@font-face {
  font-family: "Kollektif";
  src: url("../font/Kollektif.ttf") format("truetype");
}
@font-face {
  font-family: "Sacramento-Regular";
  src: url("../font/Sacramento-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../font/Poppins-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../font/Poppins-SemiBold.ttf") format("truetype");
  }
@font-face {
    font-family: 'Arial Rounded MT';
    src: url('../font/Arial_Rounded_MT.ttf') format("truetype");
}
.nav-link {
    color: #005A70!important;
    font-size: 20;
    font-family:'Arial Rounded MT', Arial,sans-serif;
}
.beta {
  font-size: 20;
  font-family: "Kollektif", "Times New Roman", sans-serif;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
}

.text-sc{
    font-size: 25;
    color: #005A70;
    font-family: "Poppins-SemiBold", "Times New Roman", sans-serif;
}

.ft-beta-1 {
  font-size: 20;
  font-family: "Sacramento-Regular", "Times New Roman", sans-serif;
}

.transition-slide-up{
    opacity:1;
    transition: 500ms;
    
}

html.is-animating .transition-fade {
    opacity: 0;
  }