
@font-face {
    font-family: 'Kollektif';
    src: url('../font/Kollektif.ttf') format("truetype");
}
@font-face {
    font-family: 'Sacramento-Regular';
    src: url('../font/Sacramento-Regular.ttf') format("truetype");
}
.nav-link {
    color: #005A70!important;
    font-size: 20;
    font-weight: bold;
    font-family:'Arial Rounded MT', Arial, sans-serif;

}

.beta{
    font-size: 20;
    font-family:'Kollektif', 'Times New Roman', sans-serif;
}