@font-face {
  font-family: "Kollektif";
  src: url("../font/Kollektif.ttf") format("truetype");
}
@font-face {
  font-family: "Sacramento-Regular";
  src: url("../font/Sacramento-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../font/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../font/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("../font/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Arial Rounded MT";
  src: url("../font/Arial_Rounded_MT.ttf") format("truetype");
}
.nav-link {
  color: #005a70 !important;
  font-size: 20;
  font-family: "Poppins-SemiBold", Arial, sans-serif;
}
.beta {
  font-size: 20;
  font-family: "Kollektif", "Times New Roman", sans-serif;
}



.beta-header-right {
  font-size: 45px;
  letter-spacing: 4px;
  font-weight: 600;
  font-family: "Poppins-Regular", "Times New Roman", sans-serif;
}

.beta-header-left {
  font-size: 20px;
  letter-spacing: 4px;
  font-family: "Poppins-Regular", "Times New Roman", sans-serif;
}

.beta-header-left-2 {
  font-size: 20px;
  letter-spacing: 4px;
  font-family: "Poppins-Bold", "Times New Roman", sans-serif;
}

.thank-header {
  font-size: 150px;
  font-family: "Sacramento-Regular", "Times New Roman", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: white;
}

.text-sc {
  font-size: 25;
  color: #005a70;
  font-family: "Poppins-SemiBold", "Times New Roman", sans-serif;
}

.text-contact {
  font-size: 10;
  color: white;
  font-family: "Poppins-Regular", "Times New Roman", sans-serif;
}


