.transition-1.is-active {
    bottom: 0;

}

.transition-1{
position: fixed;    
  bottom: 100%;
  left: 0;
  width: 100%;
  height: -100%;
  z-index: 101;
  transition: 0.5s ease-out;
}

.transition-2.is-active {
    top: 0;

}

.transition-2{
position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  
  transition: 0.5s ease-out;
}


.transition-3.is-active {
    top: 0;

}

.transition-3{
position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  
  transition: 0.5s ease-out;
}

