{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet"  href="{%  static  'css/bootstrap.css'  %}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">


    <title>Hello, world!</title>
  </head>
  <body>

    <!-- DEBUT NAV BAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="height: 10vh;">
        <a class="navbar-brand" href="">SNAPCYLE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
        
            <li class="nav-item active">
                <a class="nav-link" href="">ACCEUIL</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/propos">À PROPOS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">MISSION</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">CONTACT</a>
            </li>
            </ul>
        </div>
    </nav>
      <!-- FIN NAV BAR -->

      <table style="height: 75vh; width: 100%;">
        <tbody>
          <tr>
            <td class="align-middle ">
                <div class="d-flex justify-content-center text-center align-self-center">
                    <h1> Notre site web reviens bientot avec un nouveaux concept </h1>
                </div>
                <div class="d-flex justify-content-center text-center">
                    <h1> . . .  </h1>
                </div>
            </td>
          </tr>
        </tbody>
      </table>


      <!-- Footer -->
    <footer class="page-footer font-small" style="height: 15vh;">
        <div class="container" >
            <div class="row d-flex justify-content-between">
                <div class="d-flex flex-row">
                    <h5 class="p-4"> Photo 1 </h5>

                    <a class="p-4" href="/propos"> <h5> Version Beta Snapcyle </h5> </a> 
                </div>
                
                <div class="d-flex flex-row">
                    <h5 class="p-4"> truc 1 </h5>
                    <h5 class="p-4"> truc 2 </h5>
                    <h5 class="p-4"> truc 3 </h5>
                </div>
            </div>
        </div>
    
    </footer>
    <!-- Footer -->

    <!-- Bootstrap JS -->
    <script src="{%  static  'js/bootstrap.bundle.js'  %}" async defer></script>
  </body>
</html>


