{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet"  href="{%  static  'css/bootstrap.css'  %}"> -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    />

    <title>Snapcycle</title>
  </head>
  <body id="bg-image">
    <div>
      <div class="row" style ="height: 100vh; width: 100%">
        <div class="col">
          <table style="height: 100vh; width: 100%">
            <tbody>
              <tr>
                <td class="align-top">
                  <div class="justify-content-center">

                    <blockquote class="blockquote">
                      <p class="mb-0 pl-2 text-success">Votre Application qui vous dit</p>
                      <p class="mb-0 pl-2 text-success">Quoi Comment et Où</p>
                      <p class="mb-0 pl-2 text-success">Recycler</p>
                    </blockquote>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="align-content-center">
                  <div class="d-flex justify-content-center text-center">
                    <img src="{% static "/beta/MockUp.png" %}" alt="MockUp image" width="80%" height="80%" />
                  </div>
                </td>
              </tr>
              <tr>
                <td class="align-bottom">
                  <div class="d-flex justify-content-center text-center">
                    <h1 class="display-4 text-success">Bientot disponible</h1>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col">
          <table style="height: 100vh; width: 100%">
            <tbody>
              <tr>
                <td class="align-content-center">
                  <div class="d-flex justify-content-center text-center">
                    <h1 class="display-4 text-white font-weight-bold">Accéder à la version Beta</h1>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="align-top">
                  <div>
                      <h4 class="text-white p-lg-3">
                        Entrer votre adresse courrier ci-dessous et recevez
                        votre invitation
                      </h4>
                  </div>
                  <form class="py-3">
                    <div class="form-group align-content-center">
                      <div class="col-5">
                      </div>
                      <div class="d-flex justify-content-center text-center">
                        <input type="email" class="form-control form-control-lg" id="email" placeholder="Adresse courriel">
                      </div>
                    </div>
                    <div class="d-flex justify-content-center text-center pt-4">
                      <input type="image" src="{% static "/beta/BtnRegister.png" %}" name="submit" alt="submit" width="50%" height="60%"/>  
                    </div>
                  </form>
                  <div class="d-flex justify-content-center text-center">
                    <img src="{% static "/beta/Securiser.png" %}" alt="Securiser image" width="30%" height="30%" />
                  </div> 
                </td>
              </tr>
              <tr>
                <td class="align-content-center pb-2">
                  <div class="d-flex justify-content-around text-center">
                    <img src="{% static "/beta/Playstore.png" %}" alt="Playstore image" width="25%" height="25%" />
                    <img src="{% static "/beta/Appstore.png" %}" alt="Appstore image" width="25%" height="25%"/>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="{%  static  'js/bootstrap.bundle.js'  %}" async defer></script>
  </body>

  <style>  
    h1 {  
      color: red;
    }

    #bg-image {
      background-image:url('{% static "/beta/betaRightBG.png" %}');      
      background-size: 60%;
      background-position: center right;
      background-repeat: no-repeat; 
    }

    blockquote {
    text-align: center; 
    margin:0 auto;
    width:auto;
}

  </style>

</html>

