{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet"  href="{%  static  'css/bootstrap.css'  %}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/style.css'  %}">

    <script defer src="/node_modules/swup/dist/swup.min.js"></script>
    <script defer src="script.js"></script>

    <title> Snapcycle </title>
  </head>
  <body id="swup" class = 'transition-slideup'>

    <nav class="navbar navbar-expand-lg navbar-light " style="height: 15vh;">
      <a class="navbar-brand pt-4" href=""> 
          <img src="{% static '/accueil/snapcycle_logo.png'  %}" alt="SnapCycle Logo"/>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav ">
      
          <li class="nav-item active">
              <a  class="nav-link " href="/acceuil">ACCEUIL</a>
          </li>
          <li class="nav-item active ">
              <a class="nav-link" href="/propos" onclick="">À PROPOS</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link nav-bar" href="/mission">MISSION</a>
          </li>
          <li class="nav-item active">
              <a  class="nav-link nav-bar" href="/contact">CONTACT</a>
          </li>
          </ul>
      </div>
  </nav>

      <table style="height: 75vh; width: 100%;">
        <tbody>
          <tr>
            <td class="align-middle ">
                <div class="d-flex justify-content-center text-center align-self-center">
                    <h1> Contact </h1>
                </div>
                <div class="d-flex justify-content-center text-center">
                    <h1> En développement. </h1>
                </div>
            </td>
          </tr>
        </tbody>
      </table>



    <!-- Bootstrap JS -->
    <script src="{%  static  'js/bootstrap.bundle.js'  %}" async defer></script>
  </body>
</html>


<style type="text/css">
  body { 
   background: url('{% static "apropos/Blue_BackGround.png" %}') no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
  }
</style>