{% load static %}
<style type="text/css">
  html { 
   background: url('{% static "accueil/fond_image.png" %}') no-repeat center center; 
   height: auto;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height:130%
  
  }
  body{
      background-color: transparent!important;
  }
</style>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet"  href="{%  static  'css/bootstrap.css'  %}"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '/css/style.css'  %}">

    <!-- Swup -->
    <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script> 
    <script src="static/js/index.js"></script> 
    

   

    <title> A Propos </title>
  </head>
  <body >

  {% include "navbar.html" %}
  <main id="swup" class="transition-down">
    

      <table style="height: 75vh; width: 100%;">
        <tbody>
          <tr>
            <td class="align-top ">
                <div class="d-flex justify-content-center text-center align-self-center">
                    <h1><img src="{% static '/apropos/a_propos.png'  %}" alt="a propos"/></h1>
                </div>
                
                <div class="container d-flex justify-content-center text-center text-sc">
                  <p>SnapCycle est un regroupement de jeunes étudiants de diverse universités et travailleurs du canada qui on voulu apporter leur empreintes dans la preservation de l'environnmement, en luttant contre l'utilisation du plastique untique, la pollution marine et les mauvaises pratiques dans le cadre du recyclage.</p>  
                </div>
                <div class="container d-flex justify-content-center text-center text-sc">
                  <p>En ce sens est néee SnapCycle un projet vert qui visera à doter aux citoyens un outil qui leurs permettront en plus de savoir Qu'est ce qui est recyclabe ou pas à partir d'une photo de l'objet, l'application proposera en plus des alternatives de consommation écoresponsables et bien d'autres outils.</p>  
                </div>
              
            </td>
          </tr>
        </tbody>
      </table>

    <!-- Bootstrap JS -->
    <script src="{%  static  'js/bootstrap.bundle.js'  %}" async defer></script>
    </main>
  </body>
</html>

